openapi: 3.0.3
info:
  title: Company API
  description: API for interacting with Company's services.
  version: 1.0.0
servers:
  - url: https://api.company.com/v1
    description: Production Server
  - url: https://api.staging.company.com/v1
    description: Staging Server
paths:
  /users:
    get:
      summary: Retrieve a list of users.
      operationId: getUsers
      tags:
        - Users
      parameters:
        - name: limit
          in: query
          description: Number of users to retrieve default 10.
          schema:
            type: integer
        - name: offset
          in: query
          description: Offset for pagination default 0.
          schema:
            type: integer
      responses:
        '200':
          description: Successful response with a list of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '500':
          description: Internal Server Error.
    post:
      summary: Create a new user.
      operationId: createUser
      tags:
        - Users
      requestBody:
        description: User object to be created.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request - Invalid user data.
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        age:
          type: integer
      required:
        - name
        - email
